<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>home</title>
    <link rel="stylesheet" href="${base.contextPath}/static/third/layui/css/layui.css" media="all">
</head>
<body>
    <h1>springboot start</h1>
</body>
</html>
